#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    border-radius: 6px;
    background-color: var(--elevation1dp);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: var(--surface);
    font-size: 0;
}

/* TODO end layout */

.keyboard-layout p {
    margin: 16px 8px;
}

.keyboard-layout p span {
    font-size: medium;
    padding: 4px 8px;
    margin: 0 2px;
    border-radius: 6px;
    background-color: var(--primary);
}

body {
    height: 100%;
}

#container {
    height: 1000px;
}