@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Roboto+Mono&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Material+Icons+Round);
:root {
    --surface: #121212;
    --elevation0dp: var(--surface);
    --elevation1dp: #1e1e1e;
    --elevation2dp: #222222;
    --elevation3dp: #242424;
    --elevation4dp: #272727;
    --elevation6dp: #2c2c2c;
    --elevation8dp: #2e2e2e;
    --elevation12dp: #333333;
    --elevation16dp: #343434;
    --elevation24dp: #383838;
    --primary: #ffe082;
    --primary-light: #ffffb3;
    --primary-dark: #caae53;
    --error: #CF6679;
    --on-surface: #FFF;
    --high-white: rgba(255, 255, 255, .87);
    --medium-white: rgba(255, 255, 255, .60);
    --disabled-white: rgba(255, 255, 255, .38);
    --on-primary: #000;
    --hovered-color: rgba(255, 255, 255, .04);
    --hovered: .04;
    --focused-color: rgba(255, 255, 255, .12);
    --focused: .12;
    --activated-color: rgba(255, 255, 255, .24);
    --activated: .24;
    --inactive: rgba(255, 224, 130, .38);
    --divider: rgba(255, 255, 255, 20%);
}

/* .material-icons-round.md-18 {
    font-size: 18px;
}

.material-icons-round.md-24 {
    font-size: 24px;
}

.material-icons-round.md-36 {
    font-size: 36px;
}

.material-icons-round.md-48 {
    font-size: 48px;
} */

.material-icons-round {
    color: var(--primary);
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* TODO Outline on focus change color */

a:link, a:visited {
    text-decoration: none;
    color: var(--primary);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--surface);
    color: #FFF;
    opacity: 0.87;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#container {
    margin-top: 72px;
    height: 100%;
}

footer, header {
    background-color: var(--elevation4dp);
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
}

/* TODO Mobile navigation drawer */

header {
    position: fixed;
    margin: auto;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

nav {
    margin-left: auto;
    height: 72px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    align-content: center;
    line-height: 72px;
}

nav ul li a {
    display: inline-block;
    padding: 0 4px;
}

#underline {
    height: 8px;
    background-color: var(--primary);
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 0;
}

#home-page {
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none;
    height: 72px;
}

#home-page span {
    display: none;
}

#logo {
    background-image: url(img/logo.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    margin-right: 16px;
}

footer {
    justify-content: center;
    color: var(--primary);
}

#github {
    background-color: var(--primary);
    -webkit-mask: url(img/github.svg) no-repeat center;
    mask: url(img/github.svg) no-repeat center;
    width: 24px;
    height: 24px;
}

footer>* {
    padding: 0 8px;
}

footer a:hover {
    color: var(--primary-light);
}

footer a:hover #github {
    background-color: var(--primary-light);
}

@media (min-width: 640px) {
    #underline {
        left: 8px;
        right: 8px;
    }
    nav ul li a {
        padding: 0 8px;
    }
    #home-page span {
        display: inline-block;
    }
    nav ul:hover li a {
        color: var(--inactive);
    }
    nav ul:hover li #underline {
        background-color: var(--inactive);
    }
    nav ul li a:hover {
        color: var(--primary);
    }
    nav ul li a:hover #underline {
        background-color: var(--primary);
    }
}

/* gallery-item */

.gallery-item {
    margin: 8px;
    border-radius: 0 4px 4px;
    background-color: var(--elevation1dp);
    text-align: center;
    color: var(--on-primary);
    font-size: 0;
    width: 50%;
    display: flex;
}

.description {
    padding: 8px;
}

.description>p {
    margin: 0;
    font-size: medium;
    color: var(--high-white);
    text-align: left;
}

.description p:first-child {
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: large;
    border-bottom: var(--divider) 1px solid;
}

.keyboard-layout {
    background-color: var(--elevation2dp);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    font-family: 'Roboto Mono', monospace;
    white-space: nowrap;
}

.keyboard-layout p {
    margin: 8px;
}

.keyboard-layout p span {
    border-radius: 6px;
    background-color: var(--primary);
    font-size: medium;
    padding: 4px 8px;
    margin: 0 2px;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--elevation4dp);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-dark);
    border-radius: .25rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}