@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Round');
:root {
    --surface: #121212;
    --elevation0dp: var(--surface);
    --elevation1dp: #1e1e1e;
    --elevation2dp: #222222;
    --elevation3dp: #242424;
    --elevation4dp: #272727;
    --elevation6dp: #2c2c2c;
    --elevation8dp: #2e2e2e;
    --elevation12dp: #333333;
    --elevation16dp: #343434;
    --elevation24dp: #383838;
    --primary: #ffe082;
    --primary-light: #ffffb3;
    --primary-dark: #caae53;
    --error: #CF6679;
    --on-surface: #FFF;
    --high-white: rgba(255, 255, 255, .87);
    --medium-white: rgba(255, 255, 255, .60);
    --disabled-white: rgba(255, 255, 255, .38);
    --on-primary: #000;
    --hovered-color: rgba(255, 255, 255, .04);
    --hovered: .04;
    --focused-color: rgba(255, 255, 255, .12);
    --focused: .12;
    --activated-color: rgba(255, 255, 255, .24);
    --activated: .24;
    --inactive: rgba(255, 224, 130, .38);
    --divider: rgba(255, 255, 255, 20%);
    --animation: cubic-bezier(.4, 0, .2, 1);
}

.material-icons-round {
    color: var(--primary);
}

*, *::after, *::before {
    box-sizing: border-box;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    letter-spacing: -.5px;
}

h3, h4, h5 {
    font-weight: normal;
}

h3 {
    font-size: 3rem;
    line-height: 3.125rem;
}

h4 {
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: .25px;
}

h5 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h6 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: .15px;
}

.subtitle-1 {
    letter-spacing: .15px;
    line-height: 1.75rem;
}

.subtitle-2 {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.375rem;
    letter-spacing: .1px;
}

.body-1 {
    letter-spacing: .5px;
    line-height: 1.5rem;
}

.body-2 {
    font-size: .875rem;
    line-height: 1.25rem;
    letter-spacing: .25px;
}

.button-text {
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 1.25px;
}

.caption {
    font-size: .75rem;
    letter-spacing: .4px;
}

.overline {
    font-size: .625rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 2rem;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--primary-light);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--surface);
    color: #FFF;
    opacity: 0.87;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#container {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

footer, header {
    flex-basis: 72px;
    background-color: var(--elevation4dp);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    header {
        position: fixed;
        z-index: 99;
        height: 72px;
    }
    header>* {
        flex: 1;
    }
    nav {
        height: 100%;
    }
    #nav {
        width: 256px;
        top: 72px;
        left: -256px;
        bottom: 0px;
        margin: 0;
        padding: 8px 0px;
        position: fixed;
        background-color: var(--elevation16dp);
        list-style-type: none;
        transition: transform .25s var(--animation);
        z-index: 98;
        border-right: 1px solid var(--focused-color);
    }
    #nav li {
        height: 40px;
        padding: 0 8px;
        margin: 8px;
        position: relative;
    }
    #nav li a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--on-surface);
        transition: opacity 150ms linear;
        opacity: 0;
        border-radius: 4px;
    }
    #nav-button {
        cursor: pointer;
        width: 48px;
        height: 48px;
        margin: 0;
        position: absolute;
        top: 12px;
        opacity: 0;
        z-index: 1;
        margin-left: 8px;
    }
    #hamburger {
        position: relative;
        top: 34px;
        margin-left: 8px;
    }
    #hamburger, #hamburger::before, #hamburger::after {
        height: 4px;
        width: 48px;
        background-color: var(--on-surface);
        transition: transform .25s var(--animation);
    }
    #hamburger::before {
        content: '';
        position: absolute;
        top: -13px;
    }
    #hamburger::after {
        content: '';
        position: absolute;
        top: 13px;
    }
    #nav li a {
        line-height: 40px;
        color: var(--high-white);
    }
    #nav li a:hover::before {
        opacity: var(--hovered);
    }
    #nav li a:focus::before {
        opacity: var(--focused);
    }
    #nav-button:checked~#nav {
        transform: translateX(256px);
    }
    #nav-button:checked~#scrim {
        opacity: 1;
    }
    #nav-button:checked+#hamburger {
        background-color: transparent;
    }
    #nav-button:checked+#hamburger::before {
        transform: translateY(13px) rotate(45deg);
    }
    #nav-button:checked+#hamburger::after {
        transform: translateY(-13px) rotate(-45deg);
    }
    #nav a[href=""] {
        color: var(--primary);
    }
    #nav a[href=""]::before {
        background-color: var(--primary);
        opacity: var(--focused);
    }
    #home-page {
        order: 1;
    }
    #home-page span {
        display: none;
    }
    #right {
        order: 2;
    }
    #logo {
        margin: 0 auto;
    }
    #scrim {
        opacity: 0;
        background-color: rgba(255, 255, 255, .32);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 72px;
        transition: opacity .25s var(--animation);
    }
}

@media (min-width: 768px) {
    #nav .subtitle-2, #home-page span {
        font-weight: normal;
        font-size: medium;
        letter-spacing: .15px;
    }
    header {
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        z-index: 99;
    }
    nav {
        margin-left: auto;
        height: 72px;
    }
    #nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #nav li {
        display: inline-block;
        align-content: center;
        line-height: 72px;
    }
    #nav li a {
        display: inline-block;
        padding: 0 8px;
        position: relative;
    }
    a[href=""]::after {
        content: '';
        height: 8px;
        background-color: var(--primary);
        position: absolute;
        left: 8px;
        right: 8px;
        bottom: 0;
    }
    #home-page {
        margin-right: auto;
        display: flex;
        align-items: center;
        margin-left: 24px;
        text-decoration: none;
        height: 72px;
        color: var(--primary);
    }
    #nav-button, #hamburger, #scrim, #right, #nav li:first-child {
        display: none;
    }
    #logo {
        margin-right: 16px;
    }
    #nav:hover li a {
        color: var(--inactive);
    }
    #nav:hover a[href=""]::after {
        background-color: var(--inactive);
    }
    #nav li a:hover {
        color: var(--primary);
    }
    #nav a[href=""]:hover::after {
        background-color: var(--primary);
    }
}

#logo {
    background-image: url(img/logo.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
}

footer {
    justify-content: center;
    color: var(--primary);
}

#github {
    background-color: var(--primary);
    -webkit-mask: url(img/github.svg) no-repeat center;
    mask: url(img/github.svg) no-repeat center;
    width: 24px;
    height: 24px;
}

footer>* {
    padding: 0 8px;
}

footer a:hover {
    color: var(--primary-light);
}

footer a:hover #github {
    background-color: var(--primary-light);
}

/* gallery-item */

.gallery-item {
    margin: 8px;
    border-radius: 0 4px 4px;
    background-color: var(--elevation1dp);
    text-align: center;
    color: var(--on-primary);
    display: flex;
    flex-direction: column;
}

.description {
    padding: 8px;
}

.description p {
    margin: 0;
    color: var(--high-white);
    text-align: left;
}

.description p:first-child {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: var(--divider) 1px solid;
}

.keyboard-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    font-family: 'Roboto Mono', monospace;
    white-space: nowrap;
    font-size: 0;
}

.keyboard-layout p {
    margin: 8px;
}

.keyboard-layout p span {
    border-radius: 6px;
    background-color: var(--primary);
    font-size: medium;
    padding: 2px 6px;
    margin: 0 2px;
}

@media (min-width: 640px) {
    .gallery-item {
        width: 90%;
    }
    .keyboard-layout p span {
        padding: 4px 8px;
    }
}

@media (min-width: 768px) {
    .gallery-item {
        width: 80%;
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .gallery-item {
        width: 70%;
    }
}

@media (min-width: 1280px) {
    .gallery-item {
        width: 60%;
    }
}

@media (min-width: 1536px) {
    .gallery-item {
        width: 50%;
    }
}

/* scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--elevation4dp);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-dark);
    border-radius: .25rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}