:root {
    --surface: #121212;
    --elevation0dp: var(--surface);
    --elevation1dp: #1e1e1e;
    --elevation2dp: #222222;
    --elevation3dp: #242424;
    --elevation4dp: #272727;
    --elevation6dp: #2c2c2c;
    --elevation8dp: #2e2e2e;
    --elevation12dp: #333333;
    --elevation16dp: #343434;
    --elevation24dp: #383838;
    --primary: #ffe082;
    --primary-light: #ffffb3;
    --primary-dark: #caae53;
    --error: #CF6679;
    --inactive: rgba(255, 224, 130, 0.38);
}

.material-icons-round.md-18 {
    font-size: 18px;
}

.material-icons-round.md-24 {
    font-size: 24px;
}

.material-icons-round.md-36 {
    font-size: 36px;
}

.material-icons-round.md-48 {
    font-size: 48px;
}

.material-icons-round {
    color: var(--primary);
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Outline on focus change color */

a:link, a:visited {
    text-decoration: none;
    color: var(--primary);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--surface);
    color: #FFF;
    opacity: 0.87;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

#container {
    margin-top: 72px;
    width: 100%;
}

footer, header {
    background-color: var(--elevation4dp);
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Mobile navigation drawer */

header {
    position: fixed;
    margin: auto;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

nav {
    margin-left: auto;
    height: 72px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    align-content: center;
    line-height: 72px;
}

nav ul li a {
    display: inline-block;
    padding: 0 4px;
}

#underline {
    height: 8px;
    background-color: var(--primary);
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 0;
}

#home-page {
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none;
    height: 72px;
}

#home-page span {
    display: none;
}

#logo {
    background-image: url(img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    margin-right: 16px;
}

footer {
    justify-content: center;
    color: var(--primary)
}

footer>* {
    padding: 0 8px;
}

@media (min-width: 640px) {
    #underline {
        left: 8px;
        right: 8px;
    }
    nav ul li a {
        padding: 0 8px;
    }
    #home-page span {
        display: inline-block;
    }
    nav ul:hover li a {
        color: var(--inactive);
    }
    nav ul:hover li #underline {
        background-color: var(--inactive);
    }
    nav ul li a:hover {
        color: var(--primary);
    }
    nav ul li a:hover #underline {
        background-color: var(--primary);
    }
}