@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

#container {
    display: block;
    position: relative;
    overflow-x: hidden;
}

.blur {
    z-index: -1;
    filter: blur(8px);
    width: 100%;
    height: 100vh;
}

main {
    position: relative;
}

#texts {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

#texts>h1 {
    text-align: center;
    animation: slideInLeft 1.5s var(--animation) forwards;
    color: var(--primary);
    -webkit-text-stroke: 1px black;
}

#texts>h2 {
    color: var(--high-white);
    text-align: center;
    margin: 16px 0;
    -webkit-text-stroke: 1px black;
    animation: slideInRight 1.5s var(--animation) forwards;
}

.button-filled {
    margin: 0;
}

.layout-text {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}

#colemak {
    background-color: var(--primary-dark);
}

#dvorak {
    background-color: var(--medium-white);
}

/* TODO on hover ripple */

#dvorak-button {
    margin: 0px 16px;
}

button {
    box-shadow: var(--elevation2dp-white);
}

.buttons {
    transform: translateX(-100%);
    animation: slideInLeft 1.5s var(--animation) forwards;
}

.layout-text>* {
    margin: 8px 0;
}

.layout-text>h4, .layout-text h5 {
    text-align: center;
}

#blur-big {
    display: none;
}

@media (min-width: 768px) {
    #blur-big {
        display: inline;
    }
    #blur-small {
        display: none;
    }
}

@media (min-width: 640px) {
    .layout-text h4 {
        font-weight: 300;
        font-size: 6rem;
        line-height: 6rem;
        letter-spacing: -1.5px;
    }
    .layout-text h5 {
        font-weight: 300;
        font-size: 3.75rem;
        line-height: 3.75rem;
        letter-spacing: -.5px;
    }
    .layout-text p.body-1 {
        font-weight: normal;
        font-size: 2.125rem;
        line-height: 2.5rem;
        letter-spacing: .25px;
    }
}