#container {
    display: block;
    position: relative;
    overflow-x: hidden;
}

#blur {
    z-index: -1;
    filter: blur(8px);
}

#main {
    position: relative;
}

#texts {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

h1 {
    text-align: center;
    animation: slideInLeft 1.5s var(--animation) forwards;
    color: var(--primary);
    -webkit-text-stroke: 1px black;
}

h2 {
    color: var(--high-white);
    text-align: center;
    margin: 16px 0;
    -webkit-text-stroke: 1px black;
    animation: slideInRight 1.5s var(--animation) forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}