form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 48px 0;
}

form>div {
    margin: 8px;
}

/* .text-field */

.text-field-container {
    display: flex;
    flex-direction: column;
    color: var(--medium-white);
    line-height: 18px;
}

.text-field-container p {
    padding-left: 16px;
    margin: 2px 0 0;
    display: block;
}

.input-text-field {
    color: var(--high-white);
    position: relative;
    background-color: var(--elevation1dp);
    height: 56px;
    border-radius: 4px 4px 0 0;
}

.text-input {
    background-color: initial;
    color: var(--high-white);
    width: 100%;
    height: 100%;
    padding: 20px 16px 6px;
    border: none;
    border-bottom: 1px solid var(--medium-white);
    caret-color: var(--primary);
    border-radius: 4px 4px 0 0;
    font-family: Roboto, sans-serif;
}

.input-text-field:hover {
    background-color: var(--elevation2dp);
}

.text-input:focus {
    outline: none;
    background-color: var(--elevation3dp);
}

.text-input:focus~label, .text-input:required:valid~label, #email:invalid~label, #email:valid:not(:placeholder-shown)~label {
    transform: translateY(-106%) scale(0.75);
}

#email::placeholder {
    opacity: 0;
}

.text-input:focus~label {
    color: var(--primary);
}

.text-input:focus+.name-bot {
    opacity: 1;
    transform: scaleX(1);
}

.text-input:hover {
    border-bottom-color: var(--high-white);
}

.input-text-field label {
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    position: absolute;
    transform-origin: left top;
    transition: transform 150ms var(--animation), color 150ms var(--animation);
}

.name-bot {
    opacity: 0;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    z-index: 2;
    transform: scaleX(0);
    transition: 180ms var(--animation), opacity 180ms var(--animation);
}

/* radio */

.radios {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.radio-container {
    display: inline-flex;
    color: var(--on-surface);
    margin: 0 8px;
    align-items: center;
    text-transform: uppercase;
}

.radio-layout {
    padding: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.radio-container label {
    padding-left: 4px;
}

.radio {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    cursor: inherit;
}

.radio-background {
    position: relative;
    width: 20px;
    height: 20px;
}

.radio-outer {
    border-radius: 50%;
    border: 2px solid var(--primary);
    height: 100%;
    transition: border-color .12s cubic-bezier(0, 0, .2, 1) 0ms;
}

.radio-inner {
    border: 10px solid var(--primary);
    border-radius: 50%;
    transform: scale(0);
    transition: transform .12s cubic-bezier(0, 0, .2, 1) 0ms, border-color .12s cubic-bezier(0, 0, .2, 1) 0ms, -webkit-transform .12s cubic-bezier(0, 0, .2, 1) 0ms;
    position: absolute;
    top: 0;
}

.radio:checked+.radio-background>.radio-inner {
    transform: scale(.5);
}

.radio-layout:hover>.radio-hover {
    opacity: var(--hovered);
}

.radio-layout:active>.radio-hover {
    opacity: var(--focused);
}

.radio-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    transition: opacity 225ms linear;
    border-radius: 50%;
    opacity: 0;
}

/* buttons */

.buttons {
    display: flex;
    justify-content: center;
}

button {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    border: 1px solid var(--primary);
    height: 36px;
    will-change: opacity;
    padding: 0 16px;
    display: inline-flex;
    border-radius: 4px;
    position: relative;
    align-items: center;
    justify-content: center;
    min-width: 64px;
}

.button-outline {
    background-color: transparent;
    color: var(--primary);
}

.button-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    top: -1px;
    left: -1px;
    border: 1px solid transparent;
    box-sizing: content-box;
    transition: opacity 75ms linear;
    opacity: 0;
}

button:hover {
    cursor: pointer;
}

button:hover>.button-hover {
    opacity: var(--hovered);
}

button:focus>.button-hover {
    opacity: var(--focused);
}

button:active>.button-hover {
    opacity: var(--activated);
}

.button-outline .button-hover {
    background-color: var(--primary);
}

.button-filled .button-hover {
    background-color: var(--on-ru);
}

.button-filled {
    margin-left: 16px;
    color: var(--on-primary);
    background-color: var(--primary);
}

.button-filled i {
    color: var(--on-primary);
    margin-left: -4px;
    margin-right: 8px;
    width: 18px;
    height: 18px;
    font-size: 18px;
}

/* keyboard-form */

.keyboard-form {
    background-color: var(--elevation1dp);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    white-space: nowrap;
    font-size: 0;
}

.keyboard-form p {
    margin: 8px;
}

.keyboard-form p input {
    box-sizing: content-box;
    width: 1rem;
    border: none;
    border-radius: 6px;
    background-color: var(--primary);
    padding: 6px 4px;
    text-align: center;
    margin: 0 2px;
    font-size: medium;
    color: var(--on-primary);
}

/* switch */

.switch-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

.switch {
    position: relative;
    flex-basis: 50%;
}

.switch-label {
    flex-basis: 50%;
}

.switch-container .text-field-container {
    flex-basis: 100%;
}

.track {
    background-color: var(--on-surface);
    border-color: var(--on-surface);
    opacity: .38;
    width: 32px;
    height: 14px;
    border: 1px solid;
    border-radius: 7px;
    position: absolute;
    right: 0;
    transition: opacity 90ms var(--animation), background-color 90ms var(--animation), border-color 90ms var(--animation);
}

.switch-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    transition: transform 90ms var(--animation), background-color 90ms var(--animation), border-color 90ms var(--animation);
    position: absolute;
    right: 2px;
    top: -17px;
    width: 48px;
    height: 48px;
}

.switch-circle-inner {
    border: 10px solid;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
}

.switch-circle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--on-surface);
    transition: opacity 15ms linear, background-color 15ms linear;
    z-index: 1;
    border-radius: 50%;
    opacity: 0;
}

.switch-input {
    position: absolute;
    right: 2px;
    top: -17px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    width: 68px;
    height: 48px;
    z-index: 1;
}

.switch-input:checked~.switch .switch-circle::before {
    background-color: var(--primary);
}

.switch-input:checked~.switch .track, .switch-input:checked~.switch .switch-circle-inner {
    background-color: var(--primary);
    border-color: var(--primary)
}

.switch-input:checked~.switch .track {
    opacity: .54;
}

.switch-input:checked~.switch .switch-circle {
    transform: translateX(20px);
}

.switch-input:hover~.switch .switch-circle::before {
    opacity: var(--hovered);
}

.switch-input:focus~.switch .switch-circle::before {
    opacity: var(--focused);
}

.switch-input:not(:checked)~.text-field-container .input-text-field {
    pointer-events: none;
    background-color: #171717;
    color: rgba(255, 255, 255, .38);
}

.switch-input:not(:checked)~.text-field-container:hover {
    cursor: not-allowed;
}

.switch-input:not(:checked)~.text-field-container:hover {
    cursor: not-allowed;
}

.switch-input:not(:checked)~.text-field-container .text-input {
    border-bottom-color: rgba(255, 255, 255, .06);
}

.switch-input:not(:checked)~.text-field-container .caption, .switch-input:not(:checked)~.text-field-container .text-input, .switch-input:not(:checked)~.text-field-container label {
    color: rgba(255, 255, 255, .38);
}